@CHARSET "ISO-8859-1";
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
	.custom-class {
        width: 100%; /* either % (e.g. 60%) or px (400px) */
	}
	
	
	
	font.fontIntakeStatusMedicineName {
		margin:auto; 
		font-size:150%;
		font-weight:bold;
	}
	
	font.fontIntakeStatusTitle{		
		font-weight:bold;
		font-size:150%; 	
	}
	
	font.fontModalTitle
	{
		margin:auto; 
		font-size:180%; 
		color:#2875BD;
		font-weight:bold;
	}
	
	font.fontIntakeTime
	{
		margin:auto; 
		font-size:150%;
	}
	
	font.fontIntakeDescription
	{
		margin:auto; 
		font-size:150%;
	}
	
	
	font{
		margin:auto;
		font-size:150%;
	}

	divContainerContactPerson{
		width:98%;
	  	margin: auto;
	  	height:2180; 
	}
	
	div.divContainerOverview{
		width:96%;
		margin:auto;
	  	height:313; 
	}
	
	div.smartMedicineLogo {
		margin: auto;
	    width: 100%;
		-moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
		-webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
		box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
	    height: 70px;
	    background-image: url('http://localhost:8080/smartmedicine/img/SmartMedicineLogo_2.png');
	    background-position:50% 50%;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
	
	input[type="email"] {
    	font-size:150%;
	}
	
	input[type="text"] {
    	font-size:150%;
	}	
	
	input[type="number"] {
    	font-size:150%;
	}	
	
	div.divContainer {
	  	width:98%;
	  	margin: auto;
	  	height:310; 	 	
	}
	
	div.divContainerSourceOfSupply{
		width:96%;
	  	margin: auto;
	  	height:350; 	
	}
	
	divContainerSettings {
	  	width:98%;
	  	margin: auto;
	  	height:300; 	 	
	}
	
	
	.btnClass{
		width:40;
		height:40;
	}
	
	.custom {
    	width: 33px !important;
    	height: 35px !important;
	}
}

@media only screen  and (max-width : 1024px) {
	div.divContainer {
	  	width:98%;
	  	margin: auto;
	  	height:260; 	 	
	}
	
	div.divContainerMedicineInformation{
		width:98%;
	  	margin: auto;
	  	height:310; 	
	}
	
	div.divContainerSourceOfSupply{
		width:96%;
	  	margin: auto;
	  	height:290; 	
	}
	
	div.divContainerSettings {
	  	width:98%;
	  	margin: auto;
	  	height:290; 	 	
	}
	
	div.divContainerContactPerson{
		width:98%;
	  	margin: auto;
	  	height:320; 
	}
	div.divContainerContactPersonInformation{
		width:98%;
	  	margin: auto;
	  	height:310; 
	}
	
	div.divContainerOverview{
		width:96%;
		margin:auto;
	  	height:313; 
	}
	
	font{
		margin:auto;
		font-size:106%;
	}
	
		input[type="email"] {
    	font-size:150%;
	}
	
	input[type="text"] {
    	font-size:150%;
	}	
	
	input[type="number"] {
    	font-size:150%;
	}	
	
	
	.btnClass{
		width:29;
		height:29;
	}
	
	.custom {
    	width: 18px !important;
    	height: 18px !important;
	}	
	
	font.fontIntakeStatusMedicineName {
		margin:auto; 
		font-size:150%;
		font-weight:bold;
	}
	
	font.fontIntakeStatusTitle{		
		font-weight:bold;
		font-size:150%; 	
	}
	
	font.fontModalTitle
	{
		margin:auto; 
		font-size:180%; 
		color:#2875BD;
		font-weight:bold;
	}
	
	font.fontIntakeTime
	{
		margin:auto; 
		font-size:150%;
	}
	
	font.fontIntakeDescription
	{
		margin:auto; 
		font-size:150%;
	}
	
	
}


font.statusModalTitle{
	font-weight: bold; 
	font-size:110%
}

font.statusModalSuccess{
	color:green; 
	font-size:150%
}


@media only screen  and (min-height : 400px) {
	
	tr.head{
		min-height:90%;
		height:144px;
	}




}

img.sectionImage {
	display: block;
    margin-left: auto;
    margin-right: auto
}








div.sectionLogo {

	margin: auto;
    width: 30%;

}


}

div.header{
	margin: auto;
}


table.tableContainer{
	width:100%;
	height:100%; 	
}

table.tableContainerMain{
	width:100%;
	height:100%; 
}


button.size{
	width:100%;
	height:100%;
}

th.btnAction{
	width:15%;
}



.btn-custom {
    padding: 10px 8px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;
}

button.blau{
	background-color:#428BCA;
}

button.gruen{
	background-color:#5CB85C;
}

button.gelb{
	background-color:#F0AD4E;
}

button.rot{
	background-color:#D9534F;
}



font.white{
	color:white;
}





font.black{
	color:black;
}

font.header{
	font-size:200%;
	color:#428BCA;
	text-shadow:2px 2px 3px rgba(0,0,0,0.3);
}

img.informationIcon{
	width:30px;
	height:30px;
}
